<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [82]:
# your code goes here
df['is_duplicate']=df.duplicated()
len(df[df["is_duplicate"]==True].index)

61

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [21]:
# your code goes here
df.drop_duplicates(subset=None,keep='first',inplace=True)
len(df.index)

11459

Verify if duplicates were actually dropped.

In [23]:
# your code goes here
df['is_duplicate']=df.duplicated()
len(df[df["is_duplicate"]==True].index)

0

## Finding Missing values

Find the missing values for all columns.

In [34]:
# your code goes here
missing_value=df.isnull()
for column in missing_value.columns.values.tolist():
    print(column)
    print(missing_value[column].value_counts())

Respondent
False    11459
Name: Respondent, dtype: int64
MainBranch
False    11459
Name: MainBranch, dtype: int64
Hobbyist
False    11459
Name: Hobbyist, dtype: int64
OpenSourcer
False    11459
Name: OpenSourcer, dtype: int64
OpenSource
False    11378
True        81
Name: OpenSource, dtype: int64
Employment
False    11459
Name: Employment, dtype: int64
Country
False    11459
Name: Country, dtype: int64
Student
False    11407
True        52
Name: Student, dtype: int64
EdLevel
False    11345
True       114
Name: EdLevel, dtype: int64
UndergradMajor
False    10721
True       738
Name: UndergradMajor, dtype: int64
EduOther
False    11295
True       164
Name: EduOther, dtype: int64
OrgSize
False    11362
True        97
Name: OrgSize, dtype: int64
DevType
False    11393
True        66
Name: DevType, dtype: int64
YearsCode
False    11450
True         9
Name: YearsCode, dtype: int64
Age1stCode
False    11446
True        13
Name: Age1stCode, dtype: int64
YearsCodePro
False    11443
True        16
Name: YearsCodePro, dtype: int64
CareerSat
False    11459
Name: CareerSat, dtype: int64
JobSat
False    11458
True         1
Name: JobSat, dtype: int64
MgrIdiot
False    10964
True       495
Name: MgrIdiot, dtype: int64
MgrMoney
False    10960
True       499
Name: MgrMoney, dtype: int64
MgrWant
False    10964
True       495
Name: MgrWant, dtype: int64
JobSeek
False    11459
Name: JobSeek, dtype: int64
LastHireDate
False    11459
Name: LastHireDate, dtype: int64
LastInt
False    11042
True       417
Name: LastInt, dtype: int64
FizzBuzz
False    11422
True        37
Name: FizzBuzz, dtype: int64
JobFactors
False    11456
True         3
Name: JobFactors, dtype: int64
ResumeUpdate
False    11420
True        39
Name: ResumeUpdate, dtype: int64
CurrencySymbol
False    11459
Name: CurrencySymbol, dtype: int64
CurrencyDesc
False    11459
Name: CurrencyDesc, dtype: int64
CompTotal
False    10648
True       811
Name: CompTotal, dtype: int64
CompFreq
False    11253
True       206
Name: CompFreq, dtype: int64
ConvertedComp
False    10641
True       818
Name: ConvertedComp, dtype: int64
WorkWeekHrs
False    11336
True       123
Name: WorkWeekHrs, dtype: int64
WorkPlan
False    11337
True       122
Name: WorkPlan, dtype: int64
WorkChallenge
False    11293
True       166
Name: WorkChallenge, dtype: int64
WorkRemote
False    11451
True         8
Name: WorkRemote, dtype: int64
WorkLoc
False    11427
True        32
Name: WorkLoc, dtype: int64
ImpSyn
False    11454
True         5
Name: ImpSyn, dtype: int64
CodeRev
False    11458
True         1
Name: CodeRev, dtype: int64
CodeRevHrs
False    9016
True     2443
Name: CodeRevHrs, dtype: int64
UnitTests
False    11430
True        29
Name: UnitTests, dtype: int64
PurchaseHow
False    11262
True       197
Name: PurchaseHow, dtype: int64
PurchaseWhat
False    11421
True        38
Name: PurchaseWhat, dtype: int64
LanguageWorkedWith
False    11448
True        11
Name: LanguageWorkedWith, dtype: int64
LanguageDesireNextYear
False    11324
True       135
Name: LanguageDesireNextYear, dtype: int64
DatabaseWorkedWith
False    11005
True       454
Name: DatabaseWorkedWith, dtype: int64
DatabaseDesireNextYear
False    10412
True      1047
Name: DatabaseDesireNextYear, dtype: int64
PlatformWorkedWith
False    11044
True       415
Name: PlatformWorkedWith, dtype: int64
PlatformDesireNextYear
False    10910
True       549
Name: PlatformDesireNextYear, dtype: int64
WebFrameWorkedWith
False    10058
True      1401
Name: WebFrameWorkedWith, dtype: int64
WebFrameDesireNextYear
False    9836
True     1623
Name: WebFrameDesireNextYear, dtype: int64
MiscTechWorkedWith
False    9265
True     2194
Name: MiscTechWorkedWith, dtype: int64
MiscTechDesireNextYear
False    9997
True     1462
Name: MiscTechDesireNextYear, dtype: int64
DevEnviron
False    11430
True        29
Name: DevEnviron, dtype: int64
OpSys
False    11425
True        34
Name: OpSys, dtype: int64
Containers
False    11377
True        82
Name: Containers, dtype: int64
BlockchainOrg
False    9126
True     2333
Name: BlockchainOrg, dtype: int64
BlockchainIs
False    8838
True     2621
Name: BlockchainIs, dtype: int64
BetterLife
False    11360
True        99
Name: BetterLife, dtype: int64
ITperson
False    11424
True        35
Name: ITperson, dtype: int64
OffOn
False    11421
True        38
Name: OffOn, dtype: int64
SocialMedia
False    11162
True       297
Name: SocialMedia, dtype: int64
Extraversion
False    11439
True        20
Name: Extraversion, dtype: int64
ScreenName
False    10950
True       509
Name: ScreenName, dtype: int64
SOVisit1st
False    11134
True       325
Name: SOVisit1st, dtype: int64
SOVisitFreq
False    11454
True         5
Name: SOVisitFreq, dtype: int64
SOVisitTo
False    11458
True         1
Name: SOVisitTo, dtype: int64
SOFindAnswer
False    11456
True         3
Name: SOFindAnswer, dtype: int64
SOTimeSaved
False    11409
True        50
Name: SOTimeSaved, dtype: int64
SOHowMuchTime
False    9535
True     1924
Name: SOHowMuchTime, dtype: int64
SOAccount
False    11458
True         1
Name: SOAccount, dtype: int64
SOPartFreq
False    10322
True      1137
Name: SOPartFreq, dtype: int64
SOJobs
False    11453
True         6
Name: SOJobs, dtype: int64
EntTeams
False    11454
True         5
Name: EntTeams, dtype: int64
SOComm
False    11459
Name: SOComm, dtype: int64
WelcomeChange
False    11373
True        86
Name: WelcomeChange, dtype: int64
SONewContent
False    9484
True     1975
Name: SONewContent, dtype: int64
Age
False    11167
True       292
Name: Age, dtype: int64
Gender
False    11385
True        74
Name: Gender, dtype: int64
Trans
False    11336
True       123
Name: Trans, dtype: int64
Sexuality
False    10915
True       544
Name: Sexuality, dtype: int64
Ethnicity
False    10781
True       678
Name: Ethnicity, dtype: int64
Dependents
False    11317
True       142
Name: Dependents, dtype: int64
SurveyLength
False    11440
True        19
Name: SurveyLength, dtype: int64
SurveyEase
False    11445
True        14
Name: SurveyEase, dtype: int64
is_duplicate
False    11459
Name: is_duplicate, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [41]:
# your code goes here
data=missing_value[missing_value['WorkLoc']==True]
len(data['WorkLoc'])

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [43]:
# your code goes here
df['WorkLoc'].value_counts()

Office                                            6846
Home                                              3608
Other place, such as a coworking space or cafe     973
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [44]:
#make a note of the majority value here, for future reference
df['WorkLoc'].describe()

count      11427
unique         3
top       Office
freq        6846
Name: WorkLoc, dtype: object

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [58]:
# your code goes here
df['WorkLoc']=df['WorkLoc'].fillna("Office")

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [61]:
# your code goes here
null1=df['WorkLoc'].isnull()
len(null1[null1==True])

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [63]:
# your code goes here
df['CompFreq'].value_counts()

Yearly     6108
Monthly    4811
Weekly      334
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [79]:
# your code goes here
def function(a,b):
    if(a=='Yearly'):
        return b
    elif(a=='Monthly'):
        return float(b)*12
    elif(a=='Weekly'):
        return float(b)*52
df['NormalizedAnnualCompensation']=df.apply(lambda x: function(x['CompFreq'],x['CompTotal']),axis=1)

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).